<div class="signup">
  <div class="panel panel-default">
    <div class="panel-heading">Sign Up</div>
    <div class="panel-body">
      <form action="/signup" method="POST">
        <div class="form-group">
          <label for="nameInput">Name</label>
          <input type="text" class="form-control" id="name" placeholder="Name" name="name">
        </div>
        <div class="form-group">
          <label for="surnameInput">Surname</label>
          <input type="text" class="form-control" id="surname" placeholder="Surname" name="surname">
        </div>
        <div class="form-group">
          <label for="emailInput">Email</label>
          <input type="email" class="form-control" id="email" placeholder="Email" name="email">
        </div>
        <div class="form-group">
          <label for="addressInput">Address</label>
          <input id="searchTextField" type="text" class="form-control" placeholder="Full address" name="address">
        </div>
        <div class="form-group">
          <label for="latInput">lat</label>
          <input id="lat" type="text" class="form-control" placeholder="Full address" name="lat">
        </div>
        <div class="form-group">
          <label for="longInput">long</label>
          <input id="long" type="text" class="form-control" placeholder="Full address" name="long">
        </div>
        <div class="form-group">
        <label for="rolInput">Please select your role</label>
        <!-- <input  list="roles"> -->
        <select class="form-control" name="role" id="roles">
          <option value="OWNER">You are owner of some pets </option>
          <option value="PETTAKER">You will take care of pets </option>
          <option value="BOTH">You have a pet but you want to take care of other pets aswell </option>
          </select>
           <!-- id="role" type="text" class="form-control" placeholder="Rol" name="rol"> -->
        </div>
        <div class="form-group">
          <label for="passwordInput">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password" name="password">
        </div>
        <!-- <% if (typeof(message) != "undefined") { %> -->
          <!-- <div class="alert alert-danger" role="alert"><%= message %></div> -->
        <!-- <% } %> -->
        <% if ( message != "" ) { %>
          <div class="alert alert-danger" role="alert"><%= message %></div>
        <% } %>
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
      </form>
    </div>
  </div>

</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDimRakPJ6OfHh5LOOD0wxRxomF_ocMTk&libraries=places"async defer></script>
<script type="text/javascript" src="javascripts/signup.js"></script>
