<div class="container dashboard-custom-box">
  <div class="row">
    <div class="col-md-12">
      <h2>Hello <%=user.name%>!</h2>

      <div class="panel-body form-edit-custom">
        <form action="/signup" method="POST">
          <h4>Edit your profile:</h4>
          <div class="form-group">
            <label for="nameInput">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Name" name="name">
          </div>
          <div class="form-group">
            <label for="surnameInput">Surname</label>
            <input type="text" class="form-control" id="surname" placeholder="Surname" name="surname">
          </div>
          <div class="form-group">
            <label for="addressInput">Address</label>
            <input id="searchTextField" type="text" class="form-control" placeholder="Full address" name="address">
          </div>
          <div class="form-group">
            <label for="latInput">lat</label>
            <input id="lat" type="text" class="form-control" placeholder="Full address" name="lat">
          </div>
          <div class="form-group">
            <label for="longInput">long</label>
            <input id="long" type="text" class="form-control" placeholder="Full address" name="long">
          </div>
          <hr>

          <h4>Add some extra information:</h4>
          <div class="form-group">
            <label for="phoneInput">Phone number</label>
            <input type="text" class="form-control" id="name" placeholder="Phone number" name="phoneNumber">
          </div>
          <div class="form-group">
            <label for="pictureInput">Profile picture</label>
            <input type="text" class="form-control" id="name" placeholder="Profile picture" name="picture">
          </div>
          <div class="form-group">
            <label for="surnameInput">About you</label>
            <textarea class="form-control" id="surname" placeholder="About you" name="about"></textarea>
          </div>
          <hr>

          <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </form>
      </div>
      <div class="panel-body form-edit-custom">
        <form action="/signup" method="POST">

          <h4>Add information about your pet:</h4>
          <div class="form-group">
            <label for="nameInput">Pet name</label>
            <input type="text" class="form-control" id="name" placeholder="Pet name" name="name">
          </div>
          <div class="form-group">
            <label for="pictureInput">Picture</label>
            <input type="text" class="form-control" id="surname" placeholder="Picture" name="photo">
          </div>
          <div class="form-group">
            <label for="descriptionInput">Description</label>
            <textarea id="searchTextField" class="form-control" placeholder="Description about your pet" name="description"></textarea>
          </div>
          <div class="form-group">
            <label for="typeInput">Type of animal and breed</label>
            <input id="lat" type="text" class="form-control" placeholder="Type and breed" name="typeOfAnimal">
          </div>
          <div class="form-group">
            <label for="ageInput">Age</label>
            <input id="long" type="text" class="form-control" placeholder="Age" name="age">
          </div>
          <div class="form-group">
            <label for="genderInput">Gender</label>
            <input id="long" type="text" class="form-control" placeholder="Gender" name="gender">
          </div>
          <div class="form-group">
            <label for="healthInput">Health information</label>
            <textarea id="long" class="form-control" placeholder="Full address" name="healthInfo"></textarea>
          </div>

          <button type="submit" class="btn btn-primary btn-block">Submit</button>

        </form>

      </div>
      <hr>
      <h4>Check your reviews:</h4>
    </div>
  </div>
</div>
