<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<br><br>
<input id="pac-input" name="name" class="controls" type="text" placeholder="Search Box">
<button class="btn btn-success"><a href="/search">Check the map!</a></button>
