<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<br><br>
<input id="pac-input1" name="name" class="controls" type="text" placeholder="Search Box">
<button class="btn btn-success"><a href="/search">Search</a></button>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDimRakPJ6OfHh5LOOD0wxRxomF_ocMTk&libraries=places&callback=initAutocomplete2"async defer></script>
<script type="text/javascript" src="javascripts/home.js"></script>
