


<div class="container-fluid container-home-custom">


<div class="jumbotron banner">
      <div class="row">
        <div class="col-md-5 title">
        <h1>
          Find amazing people that will take care <br>of your pet
        </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 center-form">
          <div class="form-group form-inline">
            <h2>Where and when do you need it?</h2>
            <input id="searchTextField" type="text" class="form-control input-lg-custom" placeholder="Where do you need it?" name="address">
            <label for="latInput">from: </label>
            <input id="from" type="date" class="form-control" placeholder="from" name="from">
            <label for="latInput">to: </label>
            <input id="to" type="date" class="form-control" placeholder="to" name="to">

            <button id="goMap" class="btn btn-success"><a href="/search">Check the map!</a></button><br><br>
            <input id="lat" type="hidden" class="form-control" placeholder="Full address" name="lat">
            <input id="long" type="hidden" class="form-control" placeholder="Full address" name="long">

          </div>
        </div>
      </div>

  </div>
</div>

</div>





<div class="content-fluid back-grey">
  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
        <div class="row">
          <div class="col-md-4">

            <h3>Title 1</h3>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia odio sint dolores officiis distinctio iure laborum accusantium ab voluptatum, ducimus! Est cum amet repudiandae quibusdam sequi ut porro pariatur officia?
          </div>
          <div class="col-md-4">

            <h3>Title 2</h3>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, doloribus. Velit optio nemo ea maxime, architecto facilis, non ipsa quibusdam sapiente dignissimos sint id! Facere aperiam rem consequatur expedita. Et?
          </div>
          <div class="col-md-4">

            <h3>Title 3</h3>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi vel, assumenda rerum voluptatem esse tenetur placeat aliquam iusto nihil ratione praesentium libero est vitae qui. Laborum repellat laudantium impedit repudiandae.
          </div>
        </div>
    </div>
    <div class="col-xs-2"></div>
  </div>
</div>

<div class="container">
        <div class="row">
          <div class="col-md-12 marg-custom">
            <h4>LATEST REVIEWS</h4><br>
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <img class="img-reponsive img-custom" src="http://localhost:3000/images/project-2.jpg" alt=""><br>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam nesciunt id dolorum ullam, facilis reprehenderit tenetur quia obcaecati laudantium impedit dicta quo illo perspiciatis dolores, eaque, quam ut vero maxime.
          </div>
          <div class="col-md-3">
            <img class="img-reponsive img-custom" src="http://localhost:3000/images/project-2.jpg" alt=""><br>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores in ipsum dicta vel iure dolorum ea molestiae, quo tempora totam ullam assumenda, culpa repellat. Placeat numquam ipsa sed doloribus in.
          </div>
          <div class="col-md-3">
            <img class="img-reponsive img-custom" src="http://localhost:3000/images/project-2.jpg" alt=""><br>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur veritatis quasi iure itaque, odio blanditiis a unde deserunt ullam quidem culpa ratione dolore omnis error enim quis beatae alias soluta.
          </div>
          <div class="col-md-3">
            <img class="img-reponsive img-custom" src="http://localhost:3000/images/project-2.jpg" alt=""><br>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit amet pariatur quos nobis provident mollitia reiciendis, reprehenderit earum blanditiis, veritatis, laboriosam deleniti quae odit ab iste! Nesciunt similique nostrum nemo.
          </div>
        </div>
      </div>
<br><br>
      <div class="content-fluid back-black">
        <div class="row">
          <div class="col-xs-2"></div>
          <div class="col-xs-8">
              <div class="row">
                <div class="col-md-3">

                  <h6>RECENT POST</h6>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi vel, assumenda rerum voluptatem esse tenetur placeat aliquam iusto nihil ratione praesentium libero est vitae qui. Laborum repellat laudantium impedit repudiandae.
                </div>
                <div class="col-md-3">

                  <h6>REVERA</h6>
                  Lorem ipsum
                  <hr>
                  Lorem ipsum dolor
                  <hr>
                  Lorem ipsum
                  <hr>
                  Lorem ipsum dolor
                  <hr>
                </div>
                <div class="col-md-3">

                  <h6>META</h6>
                  Lorem ipsum
                  <hr>
                </div>
                <div class="col-md-3">

                  <h6>ARCHIVES</h6>
                  Lorem ipsum
                  <hr>
                  Lorem ipsum dolor
                  <hr>
                  Lorem ipsum
                  <hr>
                  Lorem ipsum dolor
                  <hr>
                </div>

              </div>
          </div>
          <div class="col-xs-2"></div>
        </div>
      </div>



<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDimRakPJ6OfHh5LOOD0wxRxomF_ocMTk&libraries=places"async defer></script>
<script type="text/javascript" src="javascripts/searchhome.js"></script>
