/*body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
*/
button a {
  color: #ffffff;
}

.main {
	padding-top: 50px;
}
.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #f5f5f5;
}

.footer > .container {
	padding-right: 15px;
	padding-left: 15px;
}

.container .text-muted {
	margin: 20px 0;
}

.login,
.signup {
	width: 380px;
	padding-top: 50px;
	margin: 0 auto;
}


/*/////////////////////////////////////////////////////////*/
/*Styles needed for displaying users list and user info*/
/*/////////////////////////////////////////////////////////*/

.img-taker-custom {
  width: 150px;
  height: auto;
}

.takers-container-custom{
  width: 70%;
}

.takers-header{
  width: 60%;
}

.takers-header-bg{
  background-color: rgb(242, 242, 242);

}

.img-pet-taker-custom{
  width: 350px;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

.img-reviewer-custom{
  width: 100px;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

.text-justify{
  text-align: justify;
}

.book-taker-box{
  -webkit-box-shadow: 11px 14px 38px -21px rgba(0,0,0,0.58);
  -moz-box-shadow: 11px 14px 38px -21px rgba(0,0,0,0.58);
  box-shadow: 11px 14px 38px -21px rgba(0,0,0,0.58);
  border-radius: 10px;
  border: 1px solid grey;
  padding: 20px;
}

.scrolling-custom{

}


.dashboard-custom-box{
  -webkit-box-shadow: 11px 14px 38px -21px rgba(0,0,0,0.58);
  -moz-box-shadow: 11px 14px 38px -21px rgba(0,0,0,0.58);
  box-shadow: 11px 14px 38px -21px rgba(0,0,0,0.58);
  border-radius: 10px;
  border: 1px solid grey;
  padding: 20px;
  width: 70%;
  margin-top: 30px;
}

.form-edit-custom{
  width: 50%;
  margin: 0 auto;
}

.textarea-custom{
  height: 150px;
}

.pin-google {

  background-color:white;
  width:200px;
  height:130px;
}

.banner {
    background-image: url("http://localhost:3000/images/bghome.jpg");
    margin-bottom: 0;
    height: 70vh;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}

.title {
  margin-top: 20px;
  color: #fff;
  text-shadow: 0 1px 3px #0f0f0f;
}

.container-home-custom{
  padding: 0px;
  border-radius: 0px;
}

.center-form{
  color: #fff;
  text-shadow: 0 1px 3px #0f0f0f;
  margin-left: 17%;
  margin-top: 40px;
}

.input-lg-custom{
  width: 400px !important;
}

.back-grey{
  background-color: #e4e7e7;
  color: black;
  padding-top: 2%;
  padding-bottom: 2%;
}


.img-custom{
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.marg-custom{
  margin-top: 30px;
}

.back-black {
background-color: #3B3B3B;
color: gray;
font-size: 10px;
padding-top: 2%;
}

.map-view{
  height: 90vh;
  background-color: white;
}

#map{
  height: 100%;
}


.booking-info{
  -webkit-box-shadow: 11px 14px 38px -21px rgba(0,0,0,0.58);
  -moz-box-shadow: 11px 14px 38px -21px rgba(0,0,0,0.58);
  box-shadow: 11px 14px 38px -21px rgba(0,0,0,0.58);
  border-radius: 10px;
  border: 1px solid grey;
  padding: 20px;
  background-color: #f2f2f2;

}

.icon-custom{
  margin: 0 auto;
  width: 100px;
  height: auto;
}

/*/////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////*/
#floating-panel {
      position: absolute;
      top: 10px;
      left: 25%;
      z-index: 5;
      background-color: #fff;
      padding: 5px;
      border: 1px solid #999;
      text-align: center;
      line-height: 30px;
      padding-left: 10px;
    }
