<br><br><br><br>


<div class="container takers-container-custom">

      <div class="row "><br>
        <h2> You are about to book PETTAKER-NAME</h2>
        <hr>
        <h3>USERNAME, here all the details of your booking:</h3>
        <div class="booking-info">
          <h4>About the user:</h4>
          <hr>
          <p><b>Who will take care of your pet:</b> PETTAKER-NAME</p>
          <p><b>Address:</b> PETTAKER-ADDRESS</p>
          <p><b>Phone number:</b> PETTAKER-PHONE</p>
          <p><b>Email:</b> PETTAKER-EMAIL</p>
          <br><br>
          <h4>About the booking:</h4>
          <hr>
          <p><b>Please, consider this while taking care of my pet:</b>  <br>
          REQUEST-CONSIDERATIONS<br>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam a voluptatum maiores excepturi amet modi voluptatibus dolorem officia similique totam, maxime nesciunt harum culpa, quam facere nihil itaque inventore voluptates!
          </p>
          <p><b>From:</b> REQUEST-FROM</p>
          <p><b>To:</b> REQUEST-TO</p>
          <p><b>Hours per day:</b> RESQUEST-HOURS</p>
          <p><b>Total price:</b> PETTAKER-PRICE * REQUEST-HOURS</p><br><br>
          <button class="btn btn-info"><a href="/profile"></a>Go back to your profile</button>
        </div>
      </div>

</div>

<br><br>
      <div class="content-fluid back-black">
        <div class="row">
          <div class="col-xs-2"></div>
          <div class="col-xs-8">
              <div class="row">
                <div class="col-md-3">

                  <h6>RECENT POST</h6>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi vel, assumenda rerum voluptatem esse tenetur placeat aliquam iusto nihil ratione praesentium libero est vitae qui. Laborum repellat laudantium impedit repudiandae.
                </div>
                <div class="col-md-3">

                  <h6>REVERA</h6>
                  Lorem ipsum
                  <hr>
                  Lorem ipsum dolor
                  <hr>
                  Lorem ipsum
                  <hr>
                  Lorem ipsum dolor
                  <hr>
                </div>
                <div class="col-md-3">

                  <h6>META</h6>
                  Lorem ipsum
                  <hr>
                </div>
                <div class="col-md-3">

                  <h6>ARCHIVES</h6>
                  Lorem ipsum
                  <hr>
                  Lorem ipsum dolor
                  <hr>
                  Lorem ipsum
                  <hr>
                  Lorem ipsum dolor
                  <hr>
                </div>

              </div>
          </div>
          <div class="col-xs-2"></div>
        </div>
      </div>
